<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.8.10" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.PrintStudio.Configuration.NoReferences" version="8.2.170509" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.PrintStudio.PublishingEngine.NoReferences" version="8.2.170509" targetFramework="net462" developmentDependency="true" />
</packages>